@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
body > div {
  height: 100%;
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(174, 238, 202);
  background: linear-gradient(
    347deg,
    rgba(174, 238, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  min-height: 100vh;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

span {
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
